In [1]:
import pymongo

client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

mydb=client['Employee']
empinfo=mydb.employeeinformation

In [3]:
records=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sekander',
        'department':'Analytics',
        'qualification':'phd',
        'age':35
        
        },
        {
        'firstname':'Rahman',
        'lastname':'Emon',
        'department':'Analytics',
        'qualification':'master',
        'age':24
        
        }]

In [4]:
empinfo.insert_many(records)

In [5]:
## Simple way o Quering
empinfo.find_one()

{'_id': ObjectId('622e3c0efa24ba988444bf8f'),
 'firstname': 'John',
 'lastname': 'Doe',
 'department': 'Analytics',
 'qualification': 'statistics',
 'age': 35}

In [8]:
##Selct * from employee information
for record in empinfo.find({}):
 print(record)

{'_id': ObjectId('622e3c0efa24ba988444bf8f'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('622e3c0efa24ba988444bf90'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('622e3c0efa24ba988444bf91'), 'firstname': 'Manish', 'lastname': 'Sekander', 'department': 'Analytics', 'qualification': 'phd', 'age': 35}
{'_id': ObjectId('622e3c0efa24ba988444bf92'), 'firstname': 'Rahman', 'lastname': 'Emon', 'department': 'Analytics', 'qualification': 'master', 'age': 24}

In [9]:
## query doccument based on equally condition
## select * from employeeinformation where first name is Rahman
for record in empinfo.find({'firstname':'Rahman'}):
  print(record)

{'_id': ObjectId('622e3c0efa24ba988444bf92'), 'firstname': 'Rahman', 'lastname': 'Emon', 'department': 'Analytics', 'qualification': 'master', 'age': 24}

In [10]:
## select * from employeeinformation where last name is Sekander 

for record in empinfo.find({'lastname':'Sekander'}):
  print(record)

{'_id': ObjectId('622e3c0efa24ba988444bf91'), 'firstname': 'Manish', 'lastname': 'Sekander', 'department': 'Analytics', 'qualification': 'phd', 'age': 35}

In [12]:
## query doccuments using query operators($in,$lt,$gt)
for record in empinfo.find({'qualification':{'$in':['phd','master']}}):
  print(record)

{'_id': ObjectId('622e3c0efa24ba988444bf91'), 'firstname': 'Manish', 'lastname': 'Sekander', 'department': 'Analytics', 'qualification': 'phd', 'age': 35}
{'_id': ObjectId('622e3c0efa24ba988444bf92'), 'firstname': 'Rahman', 'lastname': 'Emon', 'department': 'Analytics', 'qualification': 'master', 'age': 24}

In [13]:
for record in empinfo.find():
  print(record)

{'_id': ObjectId('622e3c0efa24ba988444bf8f'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('622e3c0efa24ba988444bf90'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('622e3c0efa24ba988444bf91'), 'firstname': 'Manish', 'lastname': 'Sekander', 'department': 'Analytics', 'qualification': 'phd', 'age': 35}
{'_id': ObjectId('622e3c0efa24ba988444bf92'), 'firstname': 'Rahman', 'lastname': 'Emon', 'department': 'Analytics', 'qualification': 'master', 'age': 24}

In [16]:
## And and Query operators
for record in empinfo.find({'qualification':'master','age':{'$lt':35}}):
  print(record)

{'_id': ObjectId('622e3c0efa24ba988444bf92'), 'firstname': 'Rahman', 'lastname': 'Emon', 'department': 'Analytics', 'qualification': 'master', 'age': 24}

In [29]:
## OR operators
for record in empinfo.find({'$or':[{'firstname':'John'},{'qualification':'master'}]}):
 print(record)

{'_id': ObjectId('622e3c0efa24ba988444bf8f'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('622e3c0efa24ba988444bf92'), 'firstname': 'Rahman', 'lastname': 'Emon', 'department': 'Analytics', 'qualification': 'master', 'age': 24}

In [31]:
inventory=mydb.inventory

In [32]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [33]:
for record in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
  print(record)

{'_id': ObjectId('622e4329fa24ba988444bf93'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}